.projects
    .container.projects__container
        p.projects__title Проекты в комплектации дача Плюс

        .projects__items

            .projects__item
                picture.projects__item-picture
                    source(media='(max-width: 320px)', srcset='./img/img03_320.jpg')
                    source(media='(max-width: 320px)', srcset='./img/img03_320.webp')

                    source(media='(max-width: 480px)', srcset='./img/img03_320.jpg')
                    source(media='(max-width: 480px)', srcset='./img/img03_320.webp')

                    source(media='(max-width: 768px)', srcset='./img/img03_320.jpg')
                    source(media='(max-width: 768px)', srcset='./img/img03_320.webp')

                    source(media='(max-width: 1024px)', srcset='./img/img03_320.jpg')
                    source(media='(max-width: 1024px)', srcset='./img/img03_320.webp')

                    source(srcset='./img/img03_320.webp')
                    img(src='./img/img03_320.jpg' alt="Проект лидер изображение дома").projects__item-img

                .projects__item-data
                
                    .projects__item-top
                        .projects__item-info
                            p.projects__item-info-type Каркасный дом:
                            p.projects__item-info-name проект Лидер с террасой

                        .projects__item-values
                            .projects__item-value
                                img(src="./img/svg/icon-inner.svg").projects__item-value-icon
                                span.projects__item-value-text 7х10
                            .projects__item-value
                                img(src="./img/svg/icon-outer.svg").projects__item-value-icon
                                span.projects__item-value-text 109 м2

                    .projects__item-bottom
                        p.projects__item-price от #[strong 1 269 000] рублей
                    
                    a(href="#").ui-btn.ui-btn_accent.ui-btn_round.projects__item-link Подробнее
            
            .projects__item
                picture.projects__item-picture
                    source(media='(max-width: 320px)', srcset='./img/img03_320.jpg')
                    source(media='(max-width: 320px)', srcset='./img/img03_320.webp')

                    source(media='(max-width: 480px)', srcset='./img/img03_320.jpg')
                    source(media='(max-width: 480px)', srcset='./img/img03_320.webp')

                    source(media='(max-width: 768px)', srcset='./img/img03_320.jpg')
                    source(media='(max-width: 768px)', srcset='./img/img03_320.webp')

                    source(media='(max-width: 1024px)', srcset='./img/img03_320.jpg')
                    source(media='(max-width: 1024px)', srcset='./img/img03_320.webp')

                    source(srcset='./img/img03_320.webp')
                    img(src='./img/img03_320.jpg' alt="Проект лидер изображение ").projects__item-img

                .projects__item-data
                
                    .projects__item-top
                        .projects__item-info
                            p.projects__item-info-type Каркасный дом:
                            p.projects__item-info-name проект Лидер с террасой

                        .projects__item-values
                            .projects__item-value
                                img(src="./img/svg/icon-inner.svg").projects__item-value-icon
                                span.projects__item-value-text 7х10
                            .projects__item-value
                                img(src="./img/svg/icon-outer.svg").projects__item-value-icon
                                span.projects__item-value-text 109 м2

                    .projects__item-bottom
                        p.projects__item-price от #[strong 1 269 000] рублей
                    
                    a(href="#").ui-btn.ui-btn_accent.ui-btn_round.projects__item-link Подробнее

            .projects__item
                picture.projects__item-picture
                    source(media='(max-width: 320px)', srcset='./img/img03_320.jpg')
                    source(media='(max-width: 320px)', srcset='./img/img03_320.webp')

                    source(media='(max-width: 480px)', srcset='./img/img03_320.jpg')
                    source(media='(max-width: 480px)', srcset='./img/img03_320.webp')

                    source(media='(max-width: 768px)', srcset='./img/img03_320.jpg')
                    source(media='(max-width: 768px)', srcset='./img/img03_320.webp')

                    source(media='(max-width: 1024px)', srcset='./img/img03_320.jpg')
                    source(media='(max-width: 1024px)', srcset='./img/img03_320.webp')

                    source(srcset='./img/img03_320.webp')
                    img(src='./img/img03_320.jpg' alt="Проект лидер изображение ").projects__item-img

                .projects__item-data
                
                    .projects__item-top
                        .projects__item-info
                            p.projects__item-info-type Каркасный дом:
                            p.projects__item-info-name проект Лидер с террасой

                        .projects__item-values
                            .projects__item-value
                                img(src="./img/svg/icon-inner.svg").projects__item-value-icon
                                span.projects__item-value-text 7х10
                            .projects__item-value
                                img(src="./img/svg/icon-outer.svg").projects__item-value-icon
                                span.projects__item-value-text 109 м2

                    .projects__item-bottom
                        p.projects__item-price от #[strong 1 269 000] рублей
                    
                    a(href="#").ui-btn.ui-btn_accent.ui-btn_round.projects__item-link Подробнее
        
            .projects__item
                picture.projects__item-picture
                    source(media='(max-width: 320px)', srcset='./img/img03_320.jpg')
                    source(media='(max-width: 320px)', srcset='./img/img03_320.webp')

                    source(media='(max-width: 480px)', srcset='./img/img03_320.jpg')
                    source(media='(max-width: 480px)', srcset='./img/img03_320.webp')

                    source(media='(max-width: 768px)', srcset='./img/img03_320.jpg')
                    source(media='(max-width: 768px)', srcset='./img/img03_320.webp')

                    source(media='(max-width: 1024px)', srcset='./img/img03_320.jpg')
                    source(media='(max-width: 1024px)', srcset='./img/img03_320.webp')

                    source(srcset='./img/img03_320.webp')
                    img(src='./img/img03_320.jpg' alt="Проект лидер изображение ").projects__item-img

                .projects__item-data
                
                    .projects__item-top
                        .projects__item-info
                            p.projects__item-info-type Каркасный дом:
                            p.projects__item-info-name проект Лидер с террасой

                        .projects__item-values
                            .projects__item-value
                                img(src="./img/svg/icon-inner.svg").projects__item-value-icon
                                span.projects__item-value-text 7х10
                            .projects__item-value
                                img(src="./img/svg/icon-outer.svg").projects__item-value-icon
                                span.projects__item-value-text 109 м2

                    .projects__item-bottom
                        p.projects__item-price от #[strong 1 269 000] рублей
                    
                    a(href="#").ui-btn.ui-btn_accent.ui-btn_round.projects__item-link Подробнее
            
            .projects__item
                picture.projects__item-picture
                    source(media='(max-width: 320px)', srcset='./img/img03_320.jpg')
                    source(media='(max-width: 320px)', srcset='./img/img03_320.webp')

                    source(media='(max-width: 480px)', srcset='./img/img03_320.jpg')
                    source(media='(max-width: 480px)', srcset='./img/img03_320.webp')

                    source(media='(max-width: 768px)', srcset='./img/img03_320.jpg')
                    source(media='(max-width: 768px)', srcset='./img/img03_320.webp')

                    source(media='(max-width: 1024px)', srcset='./img/img03_320.jpg')
                    source(media='(max-width: 1024px)', srcset='./img/img03_320.webp')

                    source(srcset='./img/img03_320.webp')
                    img(src='./img/img03_320.jpg' alt="Проект лидер изображение ").projects__item-img

                .projects__item-data
                
                    .projects__item-top
                        .projects__item-info
                            p.projects__item-info-type Каркасный дом:
                            p.projects__item-info-name проект Лидер с террасой

                        .projects__item-values
                            .projects__item-value
                                img(src="./img/svg/icon-inner.svg").projects__item-value-icon
                                span.projects__item-value-text 7х10
                            .projects__item-value
                                img(src="./img/svg/icon-outer.svg").projects__item-value-icon
                                span.projects__item-value-text 109 м2

                    .projects__item-bottom
                        p.projects__item-price от #[strong 1 269 000] рублей
                    
                    a(href="#").ui-btn.ui-btn_accent.ui-btn_round.projects__item-link Подробнее

            .projects__item
                picture.projects__item-picture
                    source(media='(max-width: 320px)', srcset='./img/img03_320.jpg')
                    source(media='(max-width: 320px)', srcset='./img/img03_320.webp')

                    source(media='(max-width: 480px)', srcset='./img/img03_320.jpg')
                    source(media='(max-width: 480px)', srcset='./img/img03_320.webp')

                    source(media='(max-width: 768px)', srcset='./img/img03_320.jpg')
                    source(media='(max-width: 768px)', srcset='./img/img03_320.webp')

                    source(media='(max-width: 1024px)', srcset='./img/img03_320.jpg')
                    source(media='(max-width: 1024px)', srcset='./img/img03_320.webp')

                    source(srcset='./img/img03_320.webp')
                    img(src='./img/img03_320.jpg' alt="Проект лидер изображение ").projects__item-img

                .projects__item-data
                
                    .projects__item-top
                        .projects__item-info
                            p.projects__item-info-type Каркасный дом:
                            p.projects__item-info-name проект Лидер с террасой

                        .projects__item-values
                            .projects__item-value
                                img(src="./img/svg/icon-inner.svg").projects__item-value-icon
                                span.projects__item-value-text 7х10
                            .projects__item-value
                                img(src="./img/svg/icon-outer.svg").projects__item-value-icon
                                span.projects__item-value-text 109 м2

                    .projects__item-bottom
                        p.projects__item-price от #[strong 1 269 000] рублей
                    
                    a(href="#").ui-btn.ui-btn_accent.ui-btn_round.projects__item-link Подробнее

        .projects__show-more
            button.ui-btn.ui-btn_arrow.projects__show-more-btn Показать еще
                span    
                    img(src="./img/svg/icon-arrow.svg" alt="Показать еще иконка")