.about {
  &__container {
    display: flex;
    margin-top: 80px;
    margin-bottom: 80px;
    @include media("<=1200px") {
      margin-top: 64px;
      margin-bottom: 64px;
    }
    @include media("<=991px") {
      margin-bottom: 48px;
    }
    @include media("<=768px") {
      display: block;
      margin-top: 56px;
    }
    @include media("<=480px") {
      margin-top: 48px;
      margin-bottom: 32px;
    }
  }

  &__picture {
    @include media("<=1200px") {
    }
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=480px") {
    }
  }

  &__img {
    flex: 0 1 548px;
    min-width: 548px;
    margin-right: 64px;
    margin-left: -50px;
    @include media("<=1200px") {
      flex: 0 1 486px;
      min-width: 486px;
      margin-right: 48px;
    }
    @include media("<=991px") {
      flex: 0 1 374px;
      min-width: 374px;
      margin-right: 20px;
      margin-left: -20px;
    }
    @include media("<=768px") {
      flex: 0 1 548px;
      min-width: unset;
      max-width: unset;
      width: calc(100% + 20px);
      margin-bottom: 32px;
      margin-right: 0
    }
    @include media("<=480px") {
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    @include media("<=1200px") {

    }
    @include media("<=991px") {
        
    }
    @include media("<=768px") {

    }
    @include media("<=480px") {

    }
  }

  &__content-title {
    margin-bottom: 32px;
    font-weight: 800;
    font-size: 32px;
    line-height: 120%;
    color: #3e1d1d;
    @include media("<=1200px") {
    }
    @include media("<=991px") {
      margin-bottom: 20px;
      font-size: 2.4rem;
    }
    @include media("<=768px") {
      text-align: center;
      margin-bottom: 32px;
      font-size: 2.2rem;
    }
    @include media("<=480px") {
      margin-bottom: 26px;
      font-size: 2rem;
    }
  }

  &__content-texts {
    margin-bottom: 25px;
    @include media("<=1200px") {
    }
    @include media("<=991px") {
    }
    @include media("<=768px") {
      margin-bottom: 32px;
    }
    @include media("<=480px") {
      margin-bottom: 24px;
    }
  }

  &__content-text {
    font-size: 1.6rem;
    line-height: 150%;
    color: #000000;
    @include media("<=1200px") {
      font-size: 1.4rem;
    }
    @include media("<=991px") {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      max-height: 378px;
    }
    @include media("<=768px") {
    }
    @include media("<=480px") {
    }
  }

  &__content-link {
    @include media("<=1200px") {
    }
    @include media("<=991px") {
    }
    @include media("<=768px") {
    }
    @include media("<=480px") {
    }
  }

  &__show-more-btn {
    margin: 0 auto;
  }

}
