.about
    .container.about__container

        picture.about__picture 
            source(media='(max-width: 320px)', srcset='./img/img01_320.png')
            source(media='(max-width: 320px)', srcset='./img/img01_320.webp')

            source(media='(max-width: 480px)', srcset='./img/img01_480.png')
            source(media='(max-width: 480px)', srcset='./img/img01_480.webp')

            source(media='(max-width: 768px)', srcset='./img/img01_768.png')
            source(media='(max-width: 768px)', srcset='./img/img01_768.webp')

            source(media='(max-width: 1024px)', srcset='./img/img01_1024.png')
            source(media='(max-width: 1024px)', srcset='./img/img01_1024.webp')

            source(srcset='./img/img01_1920.webp')
            img(src='./img/img01_1920.png' alt="Что такое дача Плюс?").about__img

        .about__content
            p.about__content-title Что такое дача Плюс?

            .about__content-texts
                p.about__content-text 
                    | В своём стремлении улучшить пользовательский опыт мы упускаем, что явные признаки победы институционализации разоблачены. Значимость этих проблем настолько очевидна, что существующая теория требует от нас анализа поэтапного и последовательного развития общества. 
                    br
                    br
                    | Принимая во внимание показатели успешности, базовый вектор развития представляет собой интересный эксперимент проверки экспериментов, поражающих по своей масштабности и грандиозности.
                    br
                    br
                    | Каждый из нас понимает очевидную вещь: высококачественный прототип будущего проекта, в своём классическом представлении, допускает внедрение позиций, занимаемых участниками в отношении поставленных задач!
                    br
                    br
                    | Современные технологии достигли такого уровня, что экономическая повестка сегодняшнего дня предполагает независимые способы реализации приоритизации разума над эмоциями.
                    br
                    br
                    | Вот вам яркий пример современных тенденций - убеждённость некоторых оппонентов предопределяет высокую востребованность экономической целесообразности принимаемых решений. Как принято считать, непосредственные участники технического прогресса призывают нас к новым свершениям, которые, в свою очередь, должны быть разоблачены.

            a(href="#").hide-768.ui-link.ui-link_accent.ui-link_arrow.about__content-link Читать далее
                img(src="./img/svg/icon-arrow-right-orange.svg" alt="Читать далее")

            button.show-inline-flex-768.ui-btn.ui-btn_arrow.about__show-more-btn Показать еще
                span    
                    img(src="./img/svg/icon-arrow.svg" alt="Показать еще иконка")


