extends layouts/default
include helpers/mixins

block variables
	- const title = "gulp-pug-starter"

block content
	include ../blocks/modules/header-top/header-top
	include ../blocks/modules/header-middle/header-middle
	include ../blocks/modules/header-nav/header-nav
	include ../blocks/modules/welcome/welcome
	include ../blocks/modules/projects/projects
	include ../blocks/modules/about/about
	include ../blocks/modules/complectations/complectations
	include ../blocks/modules/footer/footer

block scripts
	script(src="js/main.js")
