.complectations
    .container.complectations__container 

        p.complectations__title Комплектация каркасного дома Дача Плюс

        .complectations__table-container
            .complectations__table

                .complectations__header
                    .complectations__col Деталь конструкции
                    .complectations__col Параметры
                    .complectations__col Способ монтажа

                .complectations__middle Основание

                .complectations__body
                    .complectations__body-row   
                        .complectations__col.complectations__col_inner Обвязочный венец
                        .complectations__col.complectations__col_inner Двойной. 1. Брус 100х150мм., на ребро. 2. Торцевая доска 40х150мм., на ребро.
                        .complectations__col.complectations__col_inner Гидроизоляция фундамента рубероид в два слоя. Крепления обвязки к фундаменту анкерными болтами. Между первым и вторым рядом прокладывается джут.

                    .complectations__body-row   
                        .complectations__col.complectations__col_inner Опорные балки
                        .complectations__col.complectations__col_inner Брус 100х150мм., на ребро.
                        .complectations__col.complectations__col_inner Гидроизоляция фундамента рубероид в два слоя. Крепления к фундаменту анкерными болтами.

                    .complectations__body-row   
                        .complectations__col.complectations__col_inner Лаги
                        .complectations__col.complectations__col_inner Доска 40х150мм.
                        .complectations__col.complectations__col_inner Шаг лаг 59см. В больших пролетах лаги через 30см. или сдвоенные, по усмотрению компании. Монтируются на металлические гвозди

                    .complectations__body-row   
                        .complectations__col.complectations__col_inner Черепной брусок
                        .complectations__col.complectations__col_inner Брусок 40х50мм.
                        .complectations__col.complectations__col_inner Монтируются к лагам на металлические гвозди.

                    .complectations__body-row   
                        .complectations__col.complectations__col_inner Пол черновой
                        .complectations__col.complectations__col_inner Обрезная доска 22х100мм
                        .complectations__col.complectations__col_inner Доска укладывается сплошняком, вдоль лаг по всей длине пола.

        .complectations__footer
            button.ui-btn.ui-btn_arrow.complectations__show-more-btn Показать еще
                span    
                    img(src="./img/svg/icon-arrow.svg" alt="Показать еще иконка")
        