.header-middle
  .container.header-middle__container.js-header-middle-container

    .header-middle__left
        a.header-middle__logo(href="/")
          img.header-middle__logo-img(src="./img/logo.png", alt="СК 'Империя'")

        a.header-middle__call(href="tel:88007079127")
          span.header-middle__call-title 8 (800) 707-91-27
          span.header-middle__call-text Звонок бесплатный!

        form.header-middle__search
          input.ui-input.header-middle__search-input.js-header-middle-search-input(placeholder="Поиск по проектам")
          button.ui-btn.ui-btn_icon.header-middle__search-btn.js-header-middle-search-btn(type="button")
            img(src="./img/svg/ico01.svg", alt="Поиск по проектам")

    .header-middle__right
      button.ui-btn.ui-btn_accent.header-middle__right-btn Заказать звонок
      button.ui-btn.ui-btn_border.header-middle__right-btn Рассчитать проект

