.photos-objects
    .container.photos-objects__container

        p.ui-title-1.photos-objects__title Фотографии последних объектов

        .photos-objects__items.js-photos-objects-items

            a(href="#").photos-objects__item
                img(src='./img/img03_320.jpg' alt="Фотографии последних объектов").photos-objects__img
                
            a(href="#").photos-objects__item
                img(src='./img/img03_320.jpg' alt="Фотографии последних объектов").photos-objects__img
                
            a(href="#").photos-objects__item
                img(src='./img/img03_320.jpg' alt="Фотографии последних объектов").photos-objects__img

            a(href="#").photos-objects__item
                img(src='./img/img03_320.jpg' alt="Фотографии последних объектов").photos-objects__img
                
            a(href="#").photos-objects__item
                img(src='./img/img03_320.jpg' alt="Фотографии последних объектов").photos-objects__img
                
            a(href="#").photos-objects__item
                img(src='./img/img03_320.jpg' alt="Фотографии последних объектов").photos-objects__img

            a(href="#").photos-objects__item
                img(src='./img/img03_320.jpg' alt="Фотографии последних объектов").photos-objects__img
                
            a(href="#").photos-objects__item
                img(src='./img/img03_320.jpg' alt="Фотографии последних объектов").photos-objects__img
                
            a(href="#").photos-objects__item
                img(src='./img/img03_320.jpg' alt="Фотографии последних объектов").photos-objects__img

        .photos-objects__footer
            button.ui-btn.ui-btn_arrow.photos-objects__show-more-btn.js-photos-objects-show-more-btn Больше фотографий
                span    
                    img(src="./img/svg/icon-arrow.svg" alt="Больше фотографий иконка")
