.footer
    .container.footer__container

        nav.footer__items
            a(href="#").footer__item Главная
            a(href="#").footer__item Бани
            a(href="#").footer__item Дома из бруса
            a(href="#").footer__item Каркасные дома
            a(href="#").footer__item Контакты
            a(href="#").footer__item Отзывы
            a(href="#").footer__item Фотогаллерея
            a(href="#").footer__item Видеогаллерея
            a(href="#").footer__item О компании

        .footer__bottom
            p.footer__patent © ООО "СК-Империя" 2011-2021
            p.footer__offer не является публичной офертой 
