.header-nav.header-nav_desktop
  .container.header-nav__container
    nav.container.header-nav__items
      a.ui-item.header-nav__item(href="#") Главная
      span.header-nav__item-separator
      a.ui-item.header-nav__item(href="#") Бани
      span.header-nav__item-separator
      a.ui-item.header-nav__item(href="#") Дом из бруса
      span.header-nav__item-separator
      a.ui-item.header-nav__item(href="#") Каркасные дома
      span.header-nav__item-separator
      a.ui-item.header-nav__item(href="#") О компании
      span.header-nav__item-separator
      a.ui-item.header-nav__item(href="#") Отзывы
      span.header-nav__item-separator
      a.ui-item.header-nav__item(href="#") Фотогалерея
      span.header-nav__item-separator
      a.ui-item.header-nav__item(href="#") Видеогалерея
      span.header-nav__item-separator
      a.ui-item.header-nav__item(href="#") Контакы 