header.header-top
  div.container.header-top__container

    p.header-top__text 
      span.hide-768 Строительство каркасных и брусовых домов, бань по всей России
      span.show-768 Строительная компания «Империя»

    div.header-top__email
      p.header-top__email-title Email:
      a.header-top__email-link(href="mailto:office-imperiya@mail.ru") office-imperiya@mail.ru

    div.header-top__socials
      p.header-top__socials-title Мы в социальных сетях:
      nav.header-top__socials-items 
        a.header-top__socials-item
          img.header-top__socials-item-img(src="./img/svg/in.svg" alt="Мы в соцсетях")
        a.header-top__socials-item
          img.header-top__socials-item-img(src="./img/svg/vk.svg" alt="Мы в соцсетях")
        a.header-top__socials-item
          img.header-top__socials-item-img(src="./img/svg/yt.svg" alt="Мы в соцсетях")

    button.header-top__menu-trigger
      img(src="./img/svg/ico-menu.svg" alt="Открыть меню")
